body{
/*	background-color: #778899;*/
  /* background-image: url("images/comedy.jpg")
   background-image:opacity 0.9;*/
}
.jumbotron{
	margin-top: 10px;
	padding: 20px;
	height:200px;
	background-color: #2F4F4F; 
	color: white;
}
img{
    width: 336px;
    height: 264px;
}
h1{
	font-family: 'Tangerine', cursive;
	font-size: 34px;
	text-align: center;
	padding: 15px;
	font-weight: bolder;
	
}
.input{
	font-weight: bolder;
	font-family: 'Tangerine', cursive;
	color: white;
	font-size: 24px;
}
#comedy-input{
	margin-left: 10px;
}
.favorite{
	font-size: 24px;
}
.comedian{
	margin-right: 10px;
	font-size: 18px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #4CAF50;
	border-radius: 15px;

	
}
#comedian-view{
	margin-bottom: 10px;
}
#add-comedian{

	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #666666;
}